* {
    box-sizing: border-box;
}

body {
    padding: 1rem !important;
}

.btn {
    width: 120px;
    margin-right: 0.5rem;
}

h2 {
    margin: 0 0 2rem 0;
}

h3 {
    padding: 0.5rem;
    margin: 0;
}

section.sec-customer,
section.sec-item {
    padding: 2rem;
    position: relative;

}

.newView {
    margin: 0 0 1rem 1rem;
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.newView > button {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.39);
    border-radius: 5px;
    /*width: 95%;*/
    width: 148px;
    height: 40px;
    font-weight: bolder;
}

/*  Search  */

.search {
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.39);
    border-radius: 5px;
    /*width: 95%;*/
    width: 300px;
    height: 150px;
    position: relative;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search > div:first-child {

    align-items: center;
    padding: 0;
    border-radius: 5px;
}

.search > div:first-child > h5 {
    padding: 0.2rem;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.search > div:first-child > input {
    width: 90%;
    margin-bottom: 1rem;
}

.search > div:first-child > button {
    align-self: flex-start;
    margin-left: 10px;
}

@media all AND (min-width: 600px) {

    .newView {
        margin: 0;
        position: absolute;
        right: 0;
    }

    .search {
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
    }

    .search > div:first-child {
        justify-content: center;
    }

    .tableScroll {
        overflow-y: scroll;
    }
}

.dltDtailClear {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    margin-bottom: 1rem;
}

.dltDtailClear > div {
    width: 80px;
    height: 40px;
}

.dltDtailClear > div > .btn {
    width: 80px;
    height: 40px;
    padding: 0;
}

.tableScroll {
    height: 300px;
    overflow-y: scroll;
    overflow-x: scroll;
}

@media all AND (min-device-width: 576px) {
    .container {
        max-width: none;
    }
}

tbody tr:hover {
    background-color: rgba(117, 124, 127, 0.15);
    cursor: pointer;
}

/*-------------*/
main {
    position: relative;
    width: 100%;
    height: 100vh;
}

.invoice {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 90vw;
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 0;
    right: 1rem;
    margin: auto;
}

.invoice > div {
    background-color: rgba(11, 94, 215, 0.16);
    margin: 0.5rem;
    width: 350px;
    height: 600px;
    /*width: 350px;*/
}


.invoice > div > div {
    width: 100%;
    background-color: #75b798;
}

#address {
    width: 100%;
}

@media all AND (max-width: 685px) {
    .newView > button {
        width: 100px;
        height: 60px;
    }
}
@media all AND (max-width: 600px) {
    .newView > button {
        width: 148px;
        height: 50px;
        font-size: 14px;
    }
}

.btns {
    margin: 1rem 0 1rem 1rem;
}

.btns > button {
    width: 80px;
    margin: 0.5rem;
}

#formCustomer > div,
#formSelectItem > div,
#formTotals > div {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.39);
    border-radius: 5px;
    width: 95%;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
}

#formCustomer > div > div,
#formSelectItem > div > div,
#formTotals > div > div {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 95%;
    padding: 0.5rem;
    margin: 1rem;
}

.sec-customer,
.sec-item {
    background-color: rgba(111, 94, 206, 0.34);
    border-radius: 5px;
    box-shadow: 4px 4px 20px 0 black;
}

#formCustomer > div > div > label,
#formSelectItem > div > div > label,
#formTotals > div > div > label {
    font-weight: bolder;
}

#formCustomer > div > div > label::after,
#formSelectItem > div > div > label::after,
#formTotals > div > div > label::after {
    content: " : ";
}

/*  Add Item    */
#formSelectItem .btns .btn,
#formTotals .btns .btn {
    width: 100px;
}

.sec-placeOrder {
    position: relative;
    width: 100vw;
    height: 300px;
}

.sec-placeOrder > .invoice {
    top: 250px;
}

/*--------------*/

label {
    min-width: 100px;
}

.sec-placeOrder > div:last-child {
    position: relative;
    top: 650px;
}

@media all AND (max-width: 1118px) {
    .sec-placeOrder > div:last-child {
        position: relative;
        top: 1250px;
    }
}

@media all AND (max-width: 711px) {
    .sec-placeOrder > div:last-child {
        position: relative;
        top: 1900px;
    }
}

#formTotals > .btns > button {
    position: relative;
    top: 185px;
}