<div class="new_all_cust row">
  <div>
    <button type="button" class="btn btn-warning">New Customer</button>
  </div>
  <div>
    <button type="button" class="btn btn-info">View Customers</button>
  </div>
</div>
<div class="new_all_cust row">
  <div>
    <button type="button" class="btn btn-warning">New Item</button>
  </div>
  <div>
    <button type="button" class="btn btn-info">View Item</button>
  </div>
</div>
<div class="new_all_cust row">
  <div>
    <button type="button" class="btn btn-danger">Delete</button>
  </div>
  <div>
    <button type="button" class="btn btn-info">Details</button>
  </div>
  <div>
    <button type="button" class="btn btn-success">Clear</button>
  </div>
</div>