
<main class="container-fluid">

        <div class="labelUp ">InVoice Details</div>
        <form>
            <div class="row mt-5" >
                <div class="mb-3 col-3">
                    <label for="exampleInputId" class="form-label">Order Id  :</label>
                    <input type="text" class="form-control" id="exampleInputId" >
                </div>
                <div class="mb-3 col-3" >
                    <label for="exampleInputDate" class="form-label">Date  :</label>
                    <input type="date" class="form-control" id="exampleInputDate">
                </div>
            </div>


            <div class="mb-3 row">
                <div class="col-3">
                    <label for="inputCustomer" class="form-label">Customer  :</label>
                    <select id="inputCustomer" class="form-select">
                        <option selected></option>
                        <option>...</option>
                    </select>
                </div>

                <div class="mb-3 col-3">
                    <label for="exampleInputCustomerId" class="form-label">Customer Id  :</label>
                    <input type="text" class="form-control" id="exampleInputCustomerId" >
                </div>
            </div>


            <div class="row">
                <div class="mb-3 col-3">
                    <label for="exampleInputName" class="form-label">Name  :</label>
                    <input type="text" class="form-control" id="exampleInputName" >
                </div>
                <div class="mb-3 col-3">
                    <label for="exampleInputSalary" class="form-label">Salary  :</label>
                    <input type="number" class="form-control" id="exampleInputSalary" >
                </div>
            </div>




            <div class="mb-3 col-6">
                <label for="exampleInputAddress" class="form-label">Address  :</label>
                <input type="text" class="form-control" id="exampleInputAddress">
            </div>



        </form>

</main>

