<div class="search mb-3">
    <div class="card-body card">
        <h5 class="card-title mb-3 bg-success">Customer Search</h5>
        <input class="form-control" type="text" placeholder="Input Name/NIC/Tp Here.." aria-label="default input example">
        <button type="button" class="btn btn-primary btn-sm mb-3">Search</button>
    </div>
</div>
<div class="search mb-3">
    <div class="card-body card">
        <h5 class="card-title mb-3 bg-success">Item Search</h5>
        <input class="form-control" type="text" placeholder="Input Name/Item Code Here.." aria-label="default input example">
        <button type="button" class="btn btn-primary btn-sm mb-3">Search</button>
    </div>
</div>