<div class="tableScroll">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Tp</th>
      <th scope="col">Salary</th>
    </tr>
    </thead>

    <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>C001</td>
      <td>18</td>
      <td>Panadura</td>
      <td>18000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>C002</td>
      <td>22</td>
      <td>Galle</td>
      <td>25000</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="tableScroll">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item Name</th>
      <th scope="col">Description</th>
      <th scope="col">Qty</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>P001</td>
      <td>Keerisamba 5Kg</td>
      <td>10</td>
      <td>1750.00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>P002</td>
      <td>Keerisamba 10Kg</td>
      <td>5</td>
      <td>3500.00</td>
    </tr>
    </tbody>
  </table>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Item Code</th>
    <th scope="col">Item Name</th>
    <th scope="col">Price</th>
    <th scope="col">Qty</th>
    <th scope="col">Total</th>
  </tr>
  </thead>

  <tbody class="table-group-divider">
  <tr>
    <th scope="row">1</th>
    <td>P001</td>
    <td>Keerisamba 5Kg</td>
    <td>1050.00</td>
    <td>2</td>
    <td>2100.00</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>P001</td>
    <td>Keerisamba 10Kg</td>
    <td>2000.00</td>
    <td>1</td>
    <td>2000.00</td>
  </tr>
  </tbody>
</table>